name: Docker github actions
on: push
env:
  cache-name: "cache-node-modules"
  MONGODB_CONNECTION_PROTOCOL: mongodb
  MONGODB_CLUSTER_ADDRESS: mongo:27017
  MONGODB_USERNAME: root
  MONGODB_PASSWORD: example
  MONGODB_DB_NAME: test
jobs:
  docker-actions:
    runs-on: ubuntu-latest
    container:
      image: node
      ports:
        - 80
      env:
        ENV_PATH: "path-test"
    services:
      mongo:
        image: mongo
        env:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: example
        ports:
          - 27017:27017
    steps:
      - name: Logs Node
        run: |
          echo node -v
      - name: create-file
        run: echo "text" > text.txt
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cache
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install Dependencies
        run: npm ci
      - name: Test
        run: npm test
      - name: npm start
        run: npm start
        continue-on-error: true
      - name: Container in step
        uses: docker://node
        with:
          entrypoint: /usr/local/bin/node
          args: -p 2+3
      - name: Container in step 2
        uses: docker://node
        with:
          entrypoint: /usr/local/bin/node
          args: -v
      - name: Container in step 4
        uses: docker://node
        with:
          entrypoint: ./script.sh
          args: "args test"
      - name: Send Message
        uses: docker://technosophos/slack-notify
        env:
          SLACK_WEBHOOK: ${{secrets.SLACK_WEBHOOK_URL  }}
          SLACK_TITLE: "Hello World"
          SLACK_MESSAGE: "Today is a fine day"
          SLACK_COLOR: "#efefef"
