name: Enviroment Workflow
on: push

env:
  WF_LEVEL: Available to all jobs

jobs:
  end-vars-and-context:
    env:
      end-vars-and-context: Only available to this job
      context_overwrite: Only available to this job
    environment: production
    runs-on: ubuntu-latest
    #if: github.ref == 'ref/heads/main'
    steps:
      - name: Logs ENV VAR
        run: echo $GITHUB_REF
      - name: Set env var
        run: |
          echo "This is the value before overwrite it: ${{ env.context_overwrite }}"
          echo "NEW_ENV_VAR=$(date)" >> "$GITHUB_ENV"
          echo "context_overwrite=$RANDOM" >> "$GITHUB_ENV"
      - name: Log context
        id: log_context
        env:
          in_steps: Available only in this steps
        run: |
          echo ${{ github.ref }}
          echo ${{ env.WF_LEVEL }}
          echo ${{ env.end-vars-and-context }}
          echo ${{ env.in_steps }}
          echo ${{ vars.VARIABLE_GITHUB }}
          echo $context_overwrite
          echo $NEW_ENV_VAR
