name: Pull Request Comment
on:
  pull_request_target:
    types: [opened]
# permissions: # se puede definir a nivel de workflow
#   issues: read
jobs:
  pull-reauest-target:
    runs-on: ubuntu-latest
    permissions: # permission for scope
      issues: write
      contents: read
    # permissions: read-all # permission for all scope in this case only read but too can be write
    steps:
      - name: Comment on new PRs
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN  }}
          script: |
            github.rest.issues.createComment({
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    issue_number: context.issue.number,
                    body: "Thanks for contributing",
                });
